.container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.li {
  display: block;
}
li {
  list-style: none;
}
.link {
  text-decoration: none;
  color: "#51158C";
}
.sidebar {
  width: 400px;
  margin: 50px;
}
.block {
  padding: 20px;
  margin: 20px;
}
pre {
  padding: 20px;
}
.editor-block {
  background-color: aliceblue;
  border-radius: 8px;
  border: 1px solid;
}

.sidebar{
    height: 800px;
    background-color: aliceblue;
    overflow-y: scroll;
}
